openapi: 3.1.0
info:
  title: Facebook Meta Ad Creative Draft API
  description: API for managing Facebook ad creative drafts with comprehensive asset management
  version: 1.0.0
  contact:
    name: MediaJira API Team
servers:
  - url: https://api.mediajira.com/v1
    description: Production server
  - url: https://staging-api.mediajira.com/v1
    description: Staging server

paths:
  /facebook_meta/adcreatives:
    get:
      summary: Get ad creatives
      description: Get all ad creatives owned by the authenticated user
      tags:
        - Ad Creatives
      security:
        - BearerAuth: []
      parameters:
        - name: fields
          in: query
          required: false
          schema:
            type: string
            description: "Comma-separated list of fields to retrieve"
            example: "id,name,status"
      responses:
        '200':
          description: Paginated list of ad creatives
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAdCreatives'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
          schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create a new ad creative
      description: Create a new ad creative
      tags:
        - Ad Creatives
      security:
        - BearerAuth: []
      requestBody:
          required: true
          content:
            application/json:
              schema:
              $ref: '#/components/schemas/CreateAdCreative'
      responses:
        '201':
          description: Created
          content:
            application/json:
          schema:
            type: object
            properties:
                  id:
            type: string
                    description: ID of the created ad creative
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /facebook_meta/{ad_creative_id}:
    get:
      summary: Get an ad creative
      description: Get an ad creative by id
      tags:
        - Ad Creatives
      security:
        - BearerAuth: []
      parameters:
        - name: ad_creative_id
          in: path
          required: true
          schema:
            type: string
            pattern: '^\\d+$'
        - name: fields
          in: query
          required: false
          schema:
            type: string
            description: "Comma-separated list of fields to retrieve"
            example: "name,image_hash,status"
        - name: thumbnail_height
          in: query
          description: Rendered height of thumbnails provided in thumbnail_url, in pixels
          required: false
          schema:
            type: integer
            default: 64
        - name: thumbnail_width
          in: query
          description: Rendered width of thumbnails provided in thumbnail_url, in pixels
          required: false
          schema:
            type: integer
            default: 64
      responses:
        '200':
          description: Ad creative
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdCreative'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Update an ad creative
      description: Update an ad creative by id
      tags:
        - Ad Creatives
      security:
        - BearerAuth: []
      parameters:
        - name: ad_creative_id
          in: path
          required: true
          schema:
            type: string
            pattern: '^\\d+$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAndDeleteAdCreative'
      responses:
        '200':
          description: The result of the update
          content:
            application/json:
              schema:
                type: object
                properties:
                success:
                  type: boolean
                  description: Whether the ad creative was updated successfully
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
    delete:
      summary: Delete an ad creative
      description: Delete an ad creative by id
      tags:
        - Ad Creatives
      security:
        - BearerAuth: []
      parameters:
        - name: ad_creative_id
          in: path
          required: true
          schema:
            type: string
            pattern: '^\\d+$'
      responses:
        '200':
          description: The result of the delete
          content:
            application/json:
              schema:
                type: object
                properties:
                success:
                  type: boolean
                  description: Whether the ad creative was deleted successfully
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found

  /facebook_meta/{ad_creative_id}/associate-media:
    post:
      summary: Associate media files to an ad creative
      description: Associate photo and/or video media files to an ad creative
      tags:
        - Media
      security:
        - BearerAuth: []
      parameters:
        - name: ad_creative_id
          in: path
          required: true
          schema:
            type: string
            pattern: '^\\d+$'
      requestBody:
          required: true
        content:
          application/json:
          schema:
              type: object
              properties:
                photo_ids:
            type: array
                  description: Array of photo IDs to associate (empty array to clear)
            items:
                    type: integer
                video_ids:
                  type: array
                  description: Array of video IDs to associate (empty array to clear)
                  items:
                    type: integer
      responses:
        '200':
          description: Media files associated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  ad_creative_id:
                    type: string
                  associated_photos:
                    type: integer
                  associated_videos:
                    type: integer
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /facebook_meta/{ad_creative_id}/share-preview:
    post:
      summary: Create a shareable preview link
      description: Create a shareable preview link for an ad creative
      tags:
        - Preview
      security:
        - BearerAuth: []
      parameters:
        - name: ad_creative_id
          in: path
          required: true
          schema:
            type: string
            pattern: '^\\d+$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - days
              properties:
                days:
                  type: integer
                  enum: [7, 14, 30]
                  description: Number of days the preview link will be active
      responses:
        '201':
          description: Preview link created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  link:
                    type: string
                    description: The shareable preview link
                  days_active:
                    type: integer
                    description: Number of days the link will be active
                  days_left:
                    type: integer
                    description: Number of days until the link expires
        '400':
          description: Bad Request (invalid days or preview already exists)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '404':
          description: Ad Creative Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      summary: Get preview link for an ad creative
      description: Get the existing preview link for an ad creative
      tags:
        - Preview
      security:
        - BearerAuth: []
      parameters:
        - name: ad_creative_id
          in: path
          required: true
          schema:
            type: string
            pattern: '^\\d+$'
      responses:
        '200':
          description: Preview link retrieved successfully
          content:
            application/json:
              schema:
      type: object
      properties:
                  link:
              type: string
                  days_active:
                    type: integer
                  days_left:
                    type: integer
        '404':
          description: Preview not found
          content:
            application/json:
              schema:
      type: object
      properties:
                  link:
          type: string
                    nullable: true
                  days_active:
                    type: integer
                    nullable: true
                  days_left:
                    type: integer
                    nullable: true
        '401':
          description: Unauthorized
    delete:
      summary: Delete preview link
      description: Delete the preview link for an ad creative
      tags:
        - Preview
      security:
        - BearerAuth: []
      parameters:
        - name: ad_creative_id
          in: path
          required: true
          schema:
          type: string
          pattern: '^\\d+$'
      responses:
        '200':
          description: Preview link deleted successfully
          content:
            application/json:
              schema:
          type: object
          properties:
                  success:
          type: boolean
        '401':
          description: Unauthorized
        '404':
          description: Preview not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /facebook_meta/preview/{token}/public:
    get:
      summary: Get preview by token (public)
      description: Get ad creative preview by token without authentication
      tags:
        - Preview
      parameters:
        - name: token
          in: path
          required: true
          schema:
          type: string
      responses:
        '200':
          description: Ad creative preview retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/AdCreative'
                  - type: object
          properties:
                      days_left:
                        type: integer
                        description: Number of days until the preview expires
        '404':
          description: Token not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '410':
          description: Token expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /facebook_meta/photos/upload:
    post:
      summary: Upload a photo
      description: Upload a photo for use in ad creatives
      tags:
        - Media
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
          type: object
              required:
                - file
          properties:
                file:
          type: string
                  format: binary
                  description: The photo file to upload
                caption:
          type: string
                  description: Caption for the photo
                url:
          type: string
                  description: URL associated with the photo
      responses:
        '201':
          description: Photo uploaded successfully
          content:
            application/json:
              schema:
          type: object
          properties:
                  success:
          type: boolean
        '400':
          description: Bad Request (missing file)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized

  /facebook_meta/photos:
    get:
      summary: List photos
      description: Get list of uploaded photos
      tags:
        - Media
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of photos
          content:
            application/json:
              schema:
      type: object
      properties:
                  count:
                    type: integer
                  next:
          type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
          type: array
          items:
                      $ref: '#/components/schemas/AdCreativePhotoData'
        '401':
          description: Unauthorized

  /facebook_meta/videos/upload:
    post:
      summary: Upload a video
      description: Upload a video for use in ad creatives
      tags:
        - Media
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
      type: object
              required:
                - file
      properties:
                file:
          type: string
                  format: binary
                  description: The video file to upload
        title:
          type: string
                  description: Title for the video
                message:
          type: string
                  description: Message/description for the video
      responses:
        '201':
          description: Video uploaded successfully
          content:
            application/json:
              schema:
      type: object
      properties:
                  success:
                    type: boolean
        '400':
          description: Bad Request (missing file)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized

  /facebook_meta/videos:
    get:
      summary: List videos
      description: Get list of uploaded videos
      tags:
        - Media
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of videos
          content:
            application/json:
              schema:
      type: object
      properties:
                  count:
          type: integer
                  next:
          type: string
                    nullable: true
                  previous:
          type: string
                    nullable: true
                  results:
          type: array
          items:
                      $ref: '#/components/schemas/AdCreativeVideoData'
        '401':
          description: Unauthorized

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    AdCreative:
      type: object
      properties:
        id:
          type: string
          description: Unique ID for an ad creative, numeric string.
          pattern: '^\\d+$'
        actor_id:
            type: string
            pattern: '^\\d+$'
          description: The actor ID (Page ID or User ID) of this creative
        name:
          type: string
          description: Name of this ad creative
        status:
          type: string
          description: Status of the ad creative
          enum: [ACTIVE, IN_PROCESS, WITH_ISSUES, DELETED]
        object_story_spec:
      type: object
          description: Unpublished page post specification
      properties:
        instagram_user_id:
          type: string
          pattern: '^\\d+$'
        link_data:
            $ref: '#/components/schemas/AdCreativeLinkData'
        page_id:
          type: string
          pattern: '^\\d+$'
        photo_data:
          type: array
              description: Array of photo data objects (ManyToMany relationship)
          items:
                $ref: '#/components/schemas/AdCreativePhotoData'
        video_data:
              type: array
              description: Array of video data objects (ManyToMany relationship)
              items:
            $ref: '#/components/schemas/AdCreativeVideoData'
        text_data:
            $ref: '#/components/schemas/AdCreativeTextData'
        authorization_category:
          type: string
          enum: [NONE, POLITICAL, POLITICAL_WITH_DIGITALLY_CREATED_MEDIA]
        adlabels:
          type: array
          items:
            $ref: '#/components/schemas/AdLabel'

    CreateAdCreative:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Name of the ad creative
        object_story_spec:
      type: object
      properties:
        instagram_user_id:
          type: string
        link_data:
            $ref: '#/components/schemas/AdCreativeLinkData'
        page_id:
          type: string
          pattern: '^\d+$'
        photo_data:
              type: array
              items:
            $ref: '#/components/schemas/AdCreativePhotoData'
            video_data:
          type: array
          items:
                $ref: '#/components/schemas/AdCreativeVideoData'
        text_data:
            $ref: '#/components/schemas/AdCreativeTextData'
        object_story_id:
          type: string
          pattern: '^\\d+_\\d+$'
        authorization_category:
          type: string
          enum: [NONE, POLITICAL, POLITICAL_WITH_DIGITALLY_CREATED_MEDIA]

    UpdateAndDeleteAdCreative:
      type: object
      properties:
        adlabels:
          type: array
          items:
          type: string
          description: Ad Labels associated with this creative
        name:
          type: string
          description: Name of the ad creative
        status:
          type: string
          description: Status of the ad creative
          enum: [ACTIVE, IN_PROCESS, WITH_ISSUES, DELETED]

    AdCreativePhotoData:
      type: object
      properties:
        id:
          type: integer
        branded_content_shared_to_sponsor_status:
          type: string
        branded_content_sponsor_page_id:
          type: string
          pattern: '^\\d+$'
        branded_content_sponser_relationship:
          type: string
        caption:
          type: string
          description: The description of the image
        image_hash:
          type: string
        page_welcome_message:
          type: string
        url:
          type: string
          description: URL of the photo

    AdCreativeVideoData:
      type: object
      properties:
        id:
          type: integer
        additional_image_index:
          type: integer
        branded_content_shared_to_sponsor_status:
          type: string
        branded_content_sponsor_page_id:
          type: string
          pattern: '^\\d+$'
        branded_content_sponser_relationship:
          type: string
        call_to_action:
            $ref: '#/components/schemas/AdCreativeLinkDataCallToAction'
        caption_ids:
          type: array
          items:
            type: string
        collection_thumbnails:
          type: array
          items:
            type: object
        customization_rules_spec:
          type: array
          items:
            type: object
        image_hash:
          type: string
        image_url:
          type: string
        link_description:
          type: string
        message:
          type: string
        offer_id:
          type: string
          pattern: '^\\d+$'
        page_welcome_message:
          type: string
        post_click_configuration:
          type: object
        retailer_item_ids:
          type: array
          items:
            type: string
        targeting:
          type: object
        title: 
          type: string
        video_id:
          type: string

    AdCreativeTextData:
      type: object
      properties:
        message:
          type: string
          description: The text of the page post

    AdCreativeLinkData:
      type: object
      properties:
        link:
          type: string
        message:
          type: string
        name:
          type: string
        description:
          type: string
        caption:
          type: string
        picture:
          type: string
        call_to_action:
          $ref: '#/components/schemas/AdCreativeLinkDataCallToAction'

    AdCreativeLinkDataCallToAction:
      type: object
      properties:
        type:
          type: string
          enum: [LEARN_MORE, SHOP_NOW, SIGN_UP, DOWNLOAD, BOOK_NOW, CONTACT_US, GET_QUOTE, APPLY_NOW, SUBSCRIBE, NO_BUTTON]
        value:
          type: object
          properties:
            link:
              type: string

    AdLabel:
      type: object
      properties:
        id:
          type: string
        created_time:
          type: string
          format: date-time
        updated_time:
          type: string
          format: date-time
        name:
          type: string

    PaginatedAdCreatives:
      type: object
      properties:
        count:
          type: integer
          description: Total number of items available
        next:
          type: string
          nullable: true
          description: Next page URL
        previous:
          type: string
          nullable: true
          description: Previous page URL
        results:
          type: array
          items:
            $ref: '#/components/schemas/AdCreative'

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error message
        code:
          type: string
          description: Error code
