.env
.DS_Store
backend/backend/settings.py
dev.sh
DOCKER_README.md
env.example
setup_local_db.sh
mediaJira/
*test*.sh
/node_modules/
backend/coverate_report.txt
backend/.scannerwork/
frontend/.scannerwork/
devops/*/*report*
devops/infra/terraform/.terraform
devops/infra/terraform/.terraform.lock.hcl
package*.json