services:

  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend-prod
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DB_HOST=${POSTGRES_HOST}
      - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
      - STRIPE_PUBLISHABLE_KEY=${STRIPE_PUBLISHABLE_KEY}
      - STRIPE_WEBHOOK_SECRET=${STRIPE_WEBHOOK_SECRET}
      - DEBUG=False
      - KAFKA_BROKER=${KAFKA_BROKER}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - GOOGLE_OAUTH_REDIRECT_URI=${GOOGLE_OAUTH_REDIRECT_URI}
      - FRONTEND_URL=${FRONTEND_URL}
    # extra_hosts:
    #   - "host.docker.internal:host-gateway"
    networks:
      - app-network
    volumes:
      - ./backend:/app
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
        labels: "service=django"


networks:
  app-network:
    driver: bridge

volumes:
