services:
  redis:
    image: redis:7-alpine
    container_name: redis-prod
    restart: always
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  clamav:
    image: clamav/clamav:latest
    platform: linux/amd64
    container_name: clamav-prod
    restart: always
    ports:
      - "3310:3310"
    volumes:
      - clamav_data:/var/lib/clamav
    healthcheck:
      test: ["CMD", "clamdscan", "--version"]
      interval: 30s
      timeout: 10s
      retries: 3

  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend-prod
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DB_HOST=${POSTGRES_HOST}
      - DEBUG=False
      - KAFKA_BROKER=${KAFKA_BROKER}
    # extra_hosts:
    #   - "host.docker.internal:host-gateway"
    depends_on:
      redis:
        condition: service_healthy
      clamav:
        condition: service_healthy
    networks:
      - app-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
        labels: "service=django"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend-prod
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - KAFKA_BROKER=${KAFKA_BROKER}
    depends_on:
      backend:
        condition: service_started
    networks:
      - app-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
        labels: "service=nextjs"

  nginx:
    image: nginx:latest
    container_name: nginx-prod
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf.pro:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt/live/mediajira.dpdns.org:/etc/letsencrypt/live/mediajira.dpdns.org:ro
      - /etc/letsencrypt/archive/mediajira.dpdns.org:/etc/letsencrypt/archive/mediajira.dpdns.org:ro
    depends_on:
      backend:
        condition: service_started
      frontend:
        condition: service_started
    networks:
      - app-network

  celery-worker:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: celery-worker-prod
    restart: always
    env_file:
      - .env
    environment:
      - DB_HOST=${POSTGRES_HOST}
      - DEBUG=False
    # extra_hosts:
    #   - "host.docker.internal:host-gateway"
    depends_on:
      redis:
        condition: service_healthy
      clamav:
        condition: service_healthy
    command: celery -A backend worker --loglevel=info

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    restart: always
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:29093"
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:9092,EXTERNAL://0.0.0.0:29092,CONTROLLER://0.0.0.0:29093
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:9092,EXTERNAL://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"
      CLUSTER_ID: "MW-7IGsmQbmFkrf2x7Ho5A"
      KAFKA_LOG_RETENTION_HOURS: 168
    volumes:
      - kafka_data:/var/lib/kafka/data
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "9092"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s

networks:
  app-network:
    driver: bridge

volumes:
  clamav_data:
  kafka_data: