# Django Settings
SECRET_KEY=jared520
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,host.docker.internal


# Local PostgreSQL Settings (for pgAdmin access)
POSTGRES_DB=mediajira_db
POSTGRES_USER=mediajira_user
POSTGRES_PASSWORD=jared520
POSTGRES_PORT=5432

# Ports
FRONTEND_PORT=3000
BACKEND_PORT=8000
NGINX_PORT=80 

# Ngrok Configuration
NGROK_AUTHTOKEN=34KI8dhtiECtLZ4uaUNSKdF6W7F_5aUJWyt2HJGhWyoXHk144

# Organization Access Token SECRET_KEY
ORGANIZATION_ACCESS_TOKEN_SECRET_KEY=52r(=liv3ro&zsuau-doa(wekq-(x^&y8(b$5h@k(g(c9&jlmp
ORGANIZATION_ACCESS_TOKEN_ENCRYPTION_KEY=jtBsdl7-HVKnF61JnesSM0xpqB-vkAXboBbIRawVUhU=

# Sonarqube Initail API 
SONAR_USER=admin
SONAR_PWD=admin

# Kafka 
KAFKA_BROKER=kafka:9092
