# Django Settings
SECRET_KEY=susey-1997-secret-key
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Local PostgreSQL Settings (for pgAdmin access)
POSTGRES_DB=mediajira_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=susey1997
POSTGRES_PORT=5432
POSTGRES_HOST=host.docker.internal


# Ports
FRONTEND_PORT=3000
BACKEND_PORT=8000
NGINX_PORT=80 