#!/usr/bin/env sh
. "$(dirname -- "$0")/_/husky.sh"

curDir=$(pwd)

# Frontend Part
echo "====start scan frontend code===="
cd ${curDir}/frontend

echo "====start lint-stage===="
npx lint-staged

echo "====start terraform check===="
cd ${curDir}/devops/infra/terraform
terraform fmt -recursive
terraform validate

echo "pre-commit huscky run finish"
